<div ng-controller="addBooks">
    <center>
    <div id="book-to-add" ng-hide="bookNotFound">
        <div ng-repeat="book in books">
            <strong>{{ book.title }}</strong><br>
            ISBN:{{ book.ISBN_13 }}<br>
            <img src="{{book.imageLinks.thumbnail}}" /><br>
            <button id="remove-book" ng-click="removeBook($index)">X</button><br>
        </div>
        <button id="add-books" ng-click="addBook()">+</button><br>
    </div>

    <div id="search-book">
        <input ng-model="searchInput" name="search input" placeholder="ISBN..."/>
        <button ng-click="fetchBook()" name="search" id="search-button">Search</button>
        <span class="error" ng-show="submittedError">{{errorDescription}}</span>
    </div>
    </center>
</div>