<div class="block-div" ng-controller="LoginController">
    <form name="loginForm" novalidate>
        <h4>Login</h4>

        <div class="block-input-label">
            <label id="login-email-label" ng-class="{'error-style': submittedEmail}" for="login-email">Email:</label>
            <input id="login-email" type="email" name="email" ng-class="{'error-style': submittedEmail}" ng-model="username"
                   placeholder="john@example.com"
                   required/>
            <span class="login" id="login-span"  ng-show="submittedEmail">A valid email address is required.</span>
        </div>
        <div>
            <label class="password-label" ng-class="{'error-style': submittedPassword}" for="login-password">Password:</label>
            <input id="login-password" class="password-input" type="password" name="password" ng-model="password" ng-class="{'error-style': submittedPassword}"
                   placeholder="********" required/>
            <span class="login"  ng-show="submittedPassword">A password is required.</span>
        </div>

        <div>
            <button id="login-button" ng-click="login()">
                Login
            </button>
            <span class="error" ng-show="submittedError">{{errorDescription}}</span>
        </div>
    </form>
    <div id="forget-password-div">
        <a ng-click="forgetPassword()">Forgot your password?</a>
    </div>

</div>