<div ng-controller="searchInside">
    <center>

    <strong>{{ book.title }}</strong><br>
    <img src="{{book.imageLinks.thumbnail}}" /><br>


    <div id="search-inside-book">
        <input ng-model="searchInput" name="search input" placeholder="keyword..."/>
        <button ng-click="searchInsideBook()" name="search" id="search-button">Search</button>
        <span class="error" ng-show="submittedError">{{errorDescription}}</span>
    </div>
    <!--
    <h2>Search Results</h1>
    <h4>Number of occurences : {{searchResults.number_of_results}}</h4>
    <div id="search-results" ng-hide="!shelve_books.length">
        <div ng-repeat="page in searchResults.search_results">
            <h3>{{ page.page_number }}</h3><br>
            <p> {{ page.snippet_text}}" <p><br>
            --------------------------------
        </div>
    </div>
    -->
    </center>
</div>