<div ng-controller="createCommunity" >
    <div id="settings" ng-show="!validated">
        <div class="container">
            <div class="row">
            <div class="col-xs-12 .col-md-8">
                <h1>You can exchange books in your community</h1>
                <!-- divider -->
                <hr/>
                <div>
                    <div class="name">
                        <p>Community name *</p>
                        <input ng-model="community.name" type="name" placeholder="Enter a new name"></input>
                    </div>
                    <div class="name">
                        <p>Little Description</p>
                        <input ng-model="community.Description" type="text" placeholder="short 'tweet' description"></input>
                    </div>
                    <h2> Where are you located mainly</h2>
                    *it would be great if you are living near each other
                    <div class="name">
                        <p>Country or State *</p>
                        <input ng-model="community.country" type="name" placeholder="e.g. California , France"></input>
                    </div>
                    <div class="name">
                        <p>City *</p>
                        <input ng-model="community.city" type="name" placeholder="e.g. Texas, L.A"></input>
                    </div>
                    <div class="name">
                        <p>Expected number of community members *</p>
                        <input ng-model="community.expected" type="name" placeholder="e.g. 56, my class, zillions"></input>
                    </div>
                    <h3>If you have some online presence</h3>
                    * this is optional, but recommended
                    <div class="name">
                        <p>Logo</p>
                        <input ng-model="community.icon" type="text" placeholder="enter the logo URL e.g. http://something/logo.png"></input>
                    </div>
                    <div class="name">
                        <p>Facebook Group link, Google+ group, or another website group</p>
                        <input ng-model="community.groupLink" type="text" placeholder="http://facebook.com/groups/something"></input>
                    </div>
                    <div class="name">
                        <p>Website, Facebook page, or webpage</p>
                        <input ng-model="community.publicLink" type="text" placeholder="www.something.com/yourgroup"></input>
                    </div>
                    <div class="desactivate">
                        <button ng-click="registerCommunity(community)">Create Group</button>
                    </div>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div ng-show="validated" class="container" align="center">

        <h1> Thank you for registering {{community.name}}</h1>
        <h2> We will notify you by email once its approved :)</h2>

        <br>
        <div class="desactivate">
            <button class="btn btn-default" ng-click="finishWizard()">Continue to your account</button>
        </div>
    </div>
</div>
