<center>
    <div ng-controller="dashboard">
        <div ng-controller="addBooks">

            <div class='library' id="book-to-add">
                <div id="welcome-message">
                    <h4>Bringing the ebook experience to your physical books</h4>
                    <h2>Search Inside The Content of your books</h2>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <button id="add-books" ng-click="dashboard.goToAddBooks()" class="btn btn-default" type="button">SEARCH INSIDE MORE BOOKS</button><br>
                <br>
            </div>
            <div class="library" id="shelve-books" ng-hide="!shelve_books.length">
                <div ng-repeat="item in shelve_books">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a href="#">
                            <img class="img-responsive" width='200' height="300" src="{{ item.book.imageLinks.thumbnail}}" />
                                <span>
                                    <button id="search-inside-book" ng-click="searchInsideBook(item.book)">search</button><br/>
                                    <p>{{ item.book.title }}</p>
                                </span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <button id="add-books" ng-click="dashboard.goToAddBooks()" class="btn btn-default" type="button">SEARCH INSIDE MORE BOOKS</button><br>
                <br>
            </div>
        </div>
    </div>
</center>