<center>
    <div ng-controller="firstTimeWizard">
    <div ng-controller="addBooks">
        <div id="adding-books" ng-show="wizard.steps[r.books]">
            <div id="welcome-message">
                <h2>Welcome</h2>
                <h3>Please Add at least 5 books to your private library</h3>
            </div>
            <div id="book-to-add" ng-hide="bookNotFound">
                <div ng-repeat="book in books">
                    <strong>{{ book.title }}</strong><br>
                    ISBN:{{ book.ISBN_13 }}<br>
                    <img src="{{book.imageLinks.thumbnail}}" />
                    <button id="remove-book" ng-click="removeBook($index)">X</button>
                    <button id="search-inside-book-{{book.id}}" ng-click="searchInsideBook(book)">Search Inside</button>
                </div>
                <button id="add-books" ng-click="addBook()">+</button><br>
            </div>
            <div id="search-book">
                <input ng-model="searchInput" name="search input" placeholder="ISBN..."/>
                <button ng-click="fetchBook()" name="search" id="search-button">Search</button>
                <span class="error" ng-show="submittedError">{{errorDescription}}</span>
            </div>
        </div>
    </div>

    <div ng-controller="communitySubscription">
        <div id="subscribing-to-communities" ng-show="wizard.steps[r.communities]">
            <div>
                <h3> Chose the community you belong to </h3>
                <div id="existing-communities" ng-repeat="community in communities.list_of_communities">
                    <strong>{{ community.name}}</strong><br>
                    <img src="{{community.icon}}" ng-click="chose($index)"/>
                    {{community.Description}}
                </div>
                <h4>Type Code: </h4>
                <input ng-model="secretcode" ng-click="validate()" placeholder="enter secret code.."/>
                <div ng-show="communities.myCommunities.length">
                    <h3> My communities </h3>
                    <div id="my-communities" ng-repeat="community in communities.myCommunities">
                        <strong>{{ community.name}}</strong><br>
                        <img src="{{community.icon}}" ng-click="chose($index)"/>
                        {{community.Description}}
                    </div>
                </div>
                <button ng-click="wizard.final(communities)" name ="final" id="final-button">FINAL</button>
                <!-- show all available communities, except the ones already enrolled in--->
                <!-- on action selected return the index of the community and do other stuff-->
                <!-- enter code for the community -->
                <!-- add another community -->
            </div>
        </div>
    </div>
    <button ng-click="wizard.next()" name="next" id="next-button">NEXT</button>
    <button ng-click="wizard.back()" name="back" id="back-button">BACK</button>
    <button ng-click="wizard.test()" name="test" id="test-button">TEST</button>

</div>
</center>