<center>
    <div ng-controller="firstTimeWizard">
    <div ng-controller="addBooks" ng-show="wizard.steps[r.books]">
        <div class='library' id="book-to-add">
            <div id="welcome-message">
                <h2>Welcome</h2>
                <h3>{{errorDescription}}</h3>
            </div>
            <div ng-repeat="book in books">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a>
                        <img class="img-responsive"  width='200' height="300"  src="{{book.imageLinks.thumbnail}}"  />
                    <span>
                        <button id="remove-book" ng-click="removeBook($index)">x</button><br/>
                        <p>{{ book.title }}</p>
                        </br></br><p>ISBN:{{ book.ISBN_13 }}</p>
                    </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
            <button id="add-books" ng-click="addBook('/main/wishlist','myCollection',1)" ng-show="books.length" class="btn btn-default" type="button">ADD SELECTED BOOKS TO YOUR LIBRARY</button><br>
            <br>
        </div>
        <form class="col-xs-8 col-xs-offset-2" id="search-book">


                <div class="input-group">
                    <input ng-model="searchInput" type="hidden" name="search_param" value="all" id="search_param" placeholder="ISBN...">
                    <input ng-model="searchInput" name="search input" type="text" class="form-control" placeholder="look for book by title">
                <span class="input-group-btn">
                    <input type="submit" ng-click="fetchBook()" name="search" id="search-button"class="btn btn-default" type="button" value="Search">
                        <span class="glyphicon glyphicon-search"></span><span class="error" ng-show="submittedError">{{errorDescription}}</span>
                </span>
                </div>

        </form>
        <br><br>

        <div class="library" id="shelve-books" ng-hide="loading">
            <div class="col-xs-8 col-xs-offset-2">
                <h2 ng-hide="!searchResults.length">pick the appropriate book...</h2>
            </div>
            <div ng-repeat="book in searchResults">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a>
                        <img class="img-responsive" width='200' height="300" src="{{ book.imageLinks.thumbnail}}" />
                            <span>
                                <button id="add-book" ng-click="addBookToList(book)">+</button><br/>
                                <p>{{ book.title }}</p>
                            </span>
                    </a>
                </div>

            </div>
        </div>
        <div id="loading" ng-show="loading">
            <img src="http://unakravets.com/images/loading.gif"/>
        </div>
    </div>

    <!--


    <button ng-click="wizard.next(wizard)" name="next" id="next-button">NEXT</button>
    <button ng-click="wizard.back()" name="back" id="back-button">BACK</button>
    <button ng-click="wizard.test()" name="test" id="test-button">TEST</button>-->

</div>
</center>