<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bobox | Profile</title>
    <link rel="stylesheet" href="css/profile.css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>

<center>
<div ng-controller="communitySubscription">
    <div id="subscribing-to-communities">
        <div ng-hide="finalStep">
            <div id="communities">
                <div class="row">
                    <h3>Chose a communtiy you belong to</h3>
                    <hr>
                    <ul>
                        <li id="existing-communities" ng-repeat="community in communities.list_of_communities">
                            <a ng-click="chose($index)">
                                <img src='{{community.icon}}' width="128" height="128"   alt="book"/>
                                 <span>
                                    <p>{{community.name}}</p>
                                 </span>
                            </a>
                        </li>
                        <!-- <p>{{ community.name }}</p> -->
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="communities.selected_community">
                <h3>Type Secret code Join the community</h3>
                <form>
                    <div>
                        <strong>{{ selected_community.name}}</strong><br>
                        <img  width="200" height="200" src="{{selected_community.icon}}"/>
                        <p>{{selected_community.Description}}</p>
                    </div>
                    <input ng-model="secretcode" ng-enter="validate()" placeholder="enter secret code.."/>
                    <button ng-click="validate()" name ="final" id="final-button" class="btn btn-default">validate</button>
                </form>
            </div>
            <br>
            <div ng-show="communities.myCommunities.length">
                <h3> My communities </h3>
                <div id="your-communities" ng-repeat="community in communities.myCommunities" class="library">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a>
                            <img class="img-responsive" width='200' height="200" src="{{community.icon}}" ng-click="chose($index)" />
                            <span><p>{{ community.name }}</p></span>
                        </a>
                    </div>
                </div>
            </div>
            <button class="btn btn-default" ng-click="finalStep=true" ng-show="communities.myCommunities.length">Continue</button>
            <div><h3> If you can't find a communtity.... </h3>
                <button id="create-community" ng-click="createCommuntiy()" class="btn btn-default" type="button">CREATRE YOUR OWN COMMUNITY</button><br>
                <br></div>
        </div>
        <div ng-show="finalStep">
            <h1> Thank you for enrolling with {{ communities.selected_community.name}}</h1>
            <h2> We will notify you by email, once you are approved by the Administrators</h2>
            <h2> you will soon be able to lend and borrow safely your books :) </h2>
            <br>
            <div class="desactivate">
                <button class="btn btn-default" ng-click="finishWizard()">Continue to your account</button>
            </div>
        </div>

    </div>
</div>
</center>
<script src="js/vendor/jquery.js"></script>
</body>
</html>