<div ng-controller="searchInside">
    <center>
        <div >
            <div >
                <div class="row">
                    <img src="{{book.imageLinks.thumbnail}}" />
                    <h1><strong>{{ book.title }}</strong></h1><br>
                    <form class="col-xs-8 col-xs-offset-2" id="search-book">
                        <div class="input-group">
                            <input type="hidden" name="search_param" value="all" id="search_param">
                            <input ng-model="searchInput" name="search input" type="text" class="form-control" placeholder="Search inside the book">
                             <span class="input-group-btn">
                                 <input type="submit" ng-click="searchInsideBook()" name="search" id="search-button"class="btn btn-default" type="button" value="Search">
                                        <span class="glyphicon glyphicon-search"></span>
                                 </input><span class="error" ng-show="submittedError">{{errorDescription}}</span>
                                </span>
                        </div>
                    </form>
                </div>
            </div>
            </div>
    <div id="nothing" ng-show="searchResults.number_of_results==0">NOTHING FOUND WITH THIS KEYWORD</div>

    <div id="search-results" ng-hide="!searchResults">
        <h2>Search Results</h2>
        <h4>Number of occurences : {{searchResults.number_of_results}}</h4>

            <div class="wrap-table" ng-repeat="page in searchResults.search_results">
                <div class="table">
                    <div class="pages">
                        <h3>Page: <span>{{page.page_number}}</span></h3>
                    </div>
                    <div class="result"><p>{{page.snippet_text}}</p></div>

                </div>
            </div>
        </div>
        <div id="loading" ng-hide="searchResults">
            <img src="http://unakravets.com/images/loading.gif"/>
        </div>

    </center>
</div>