<center>
    <div ng-controller="firstTimeWizard">

        <div ng-controller="addBooks" ng-show="wizard.steps[r.books]">
            <div class='library' id="book-to-add">
                <div id="welcome-message">
                    <h3>{{errorDescription="please enter at least 5 books to your wishlist"}}</h3>
                </div>
                <div ng-repeat="book in books">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a>
                            <img class="img-responsive"  width='200' height="300"  src="{{book.imageLinks.thumbnail}}"  />
                    <span>
                        <button id="remove-book" ng-click="removeBook($index)">x</button><br/>
                        <p>{{ book.title }}</p>
                        </br></br><p>ISBN:{{ book.ISBN_13 }}</p>
                    </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <button id="add-books" ng-click="addBook($location.path,'/main/wishlist','myCollection')" ng-show="books.length" class="btn btn-default" type="button">ADD BOOKS TO YOUR WISHLIST</button><br>
                <br>
            </div>
            <form class="col-xs-8 col-xs-offset-2" id="search-book">


                <div class="input-group">
                    <input ng-model="searchInput" type="hidden" name="search_param" value="all" id="search_param" placeholder="ISBN...">
                    <input ng-model="searchInput" name="search input" type="text" class="form-control" placeholder="look for book by title">
                <span class="input-group-btn">
                    <input type="submit" ng-click="fetchBook()" name="search" id="search-button"class="btn btn-default" type="button" value="Search">
                        <span class="glyphicon glyphicon-search"></span><span class="error" ng-show="submittedError">{{errorDescription}}</span>
                </span>
                </div>

            </form>
            <br><br>
            <div class="col-xs-8 col-xs-offset-2">
                <h1 ng-hide="!searchResults.length">chose the appropriate books ... </h1>
            </div>
            <div class="library" id="shelve-books" ng-hide="!searchResults.length">
                <div ng-repeat="book in searchResults">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a>
                            <img class="img-responsive" width='200' height="300" src="{{ book.imageLinks.thumbnail}}" />
                            <span>
                                <button id="add-book" ng-click="addBookToList(book)">+</button><br/>
                                <p>{{ book.title }}</p>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <!--
        <div ng-controller="communitySubscription">
            <div id="subscribing-to-communities" ng-show="wizard.steps[r.communities]">
                <div>
                    <h3> Chose the community you belong to </h3>
                    <div id="existing-communities" ng-repeat="community in communities.list_of_communities" class="library">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a>
                                <img class="img-responsive" width='200' height="300" src="{{community.icon}}" ng-click="chose($index)" />
                                 <span>
                                    <button id="add-community" ng-click="chose($index)">+</button><br/>
                                    <p>{{ community.name }}</p>
                                </span>
                            </a>
                        </div>
                    </div>
                    <form>
                        <h4>Type Code: </h4>
                        <input ng-model="secretcode" ng-enter="validate()" placeholder="enter secret code.."/>
                        <div ng-show="community">
                                <strong>{{ community.name}}</strong><br>
                                <img src="{{community.icon}}" ng-click="chose($index)"/>
                                {{community.Description}}
                        </div>
                        <button ng-click="validate()" name ="final" id="final-button">add</button>
                    </form>
                    <h3> My communities </h3>
                    <div id="your-communities" ng-repeat="community in communities.myCommunities" class="library">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a>
                                <img class="img-responsive" width='200' height="300" src="{{community.icon}}" ng-click="chose($index)" />
                                 <span><p>{{ community.name }}</p></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button ng-click="wizard.next(wizard)" name="next" id="next-button">NEXT</button>
        <button ng-click="wizard.back()" name="back" id="back-button">BACK</button>
        <button ng-click="wizard.test()" name="test" id="test-button">TEST</button>-->

    </div>
</center>