<div  ng-controller="ResetPasswordController">
    <div class="main-div">
    <form name="resetPasswordForm" novalidate>
        <h2>Forgot your password?</h2>
    <div>
        <p>Enter the email address you used to sign up, and we will send you a link to reset the password on your account.</p>
    </div>
    <div>
        <p ng-class="{'error-style': submitted}">Your email:</p>
        <input id="email-input" type="email" name="email" ng-model="email" ng-class="{'error-style': submitted}" placeholder="john@example.com" required/>
        <span class="reset-password"  ng-show="submitted">A valid email address is required.</span>
    </div>
    <div>
        <button ng-click="resetPassword()">Reset Password</button>
        <a id="cancel-label" ng-click="logIn()">Cancel</a>
    </div>
    </form>
    </div>
</div>